* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  .main-container{
      padding:100px;
  }

  .hr{
    border: none;
    height: 1.5px;
    background-color: #333;
  }

  .project-title{
      margin-left: 15px;
  }

  .project-grade{
      margin-left: 15px;
      font-weight: 600;
  }